Source: cyconet-default-setting
Section: x11
Priority: optional
Maintainer: Jan Wagner <waja@cyconet.org>
Uploaders: Jan Wagner <waja@cyconet.org>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.5.1
Homepage: https://github.com/waja/cyconet-default-settings

Package: cyconet-default-ubuntu-desktop-settings
Architecture: all
Depends: ${misc:Depends},
         base-files (>= 10),
         software-properties-common,
Description: default settings for the Cyconet Ubuntu desktop
 This package contains the default desktop settings used by Cyconet.
